

.slack-channel-option{
    height:48px;
}
.slack-channel-option > img{
    height:100%;
    width:48px;
    display:inline-block;

}
.slack-channel-option > .title{
    display:inline-block;
    padding-left:20px;
    font-size:14px;

}