
.UserVideoContainer{
    height:321px;
    display:inline-block;
    width: 480px;
    position:relative;
     margin-right: 20px;
    margin-bottom: 20px;
}

.UserVideoWrapper{
    height: 270px;
    width: 100%;
    position: relative;
    display: inline-block;

    overflow-y: auto;
    overflow-x:hidden;
}

.UserVideoContainer > .TitleContainer{
    position:absolute;
    background:white;
    padding-left:10px;
    padding-right:12px;
    height:51px;
    width:100%;
    z-index:2;
     border: 1px solid darkgrey;
    border-radius:4px;
    bottom:0;
}

.TitleContainer> .title{
    line-height:35px;
    border:none;
    font-size: 19px;
    margin-top:8px;
    height:35px;
    display:inline-block;
    max-width:75%;
    outline:none;
}

.TitleContainer> .title:hover{
    border:1px dashed black;

}



.TitleContainer> .delete{
    display:inline-block;
    float:right;
    font-size: 11pt;
    line-height:51px;
    cursor:pointer;
}

.TitleContainer> .delete:hover{
    color:red;
}

.TitleContainer> .delete > .fa-trash-o{
    margin-left:5px;
    font-size:15px;
}

.UserVideoWrapper > .frames-wrapper{
    position:absolute;
    top:0;
    height:1080px;
    width:1920px;

    zoom:.25;
}

.ClickGetter{
    z-index:100;
    height:100%;
    width:100%;
    position:sticky;
    top:0;
     background:rgba(0,0,0,.1);
}

.ClickGetter > *{
    display:none;
}

.ClickGetter:hover{
    background:rgba(0,0,0,.7);
}

.ClickGetter:hover + .frames-wrapper{
    filter:blur(7px);

}

.ClickGetter:hover > *{
    display:block;
}

.ClickGetter:hover > .date-view{
    font-size:18px;
    position:absolute;
    color:white;
    font-weight:bold;
    padding-top:7px;
    padding-left:15px;
}

.UserVideoBtnWrapper{
    position:relative;
    height: 15%;
    width:100%;
    top:40%;
}

.UserVideoBtnWrapper > .btn{
    position:relative;
    width:30% !important;
    margin:0;
    height:100%;
     background:black;
    color:white;
    font-size:large;
}

.UserVideoBtnWrapper > .btn:hover{
     background:rgba(46, 115, 255, 255);
}

.UserVideoBtnWrapper > .btn:first-child{
    margin-left:19%;
    margin-right:2%;
}



