.InputText{
    background:none;
    border:none;
    outline:none;
    position:absolute;
}

.InputText:focus{
    outline:1px dashed #6D50E4;
}

.InputGraph{
    position:absolute;
    display:inline-block;
    border:1px solid black;
}

