body{
    --first-graph-color:#267ffa;
    --second-graph-color:#2b58a3;
    --third-graph-color:#00e3df;
    --fourth-graph-color:#aa23ce;
}

.ct-grids > .ct-grid{
    stroke: #b7b7b7;
    stroke-dasharray: 0;
}

.ct-series > path{
    stroke-width: 7px;
}

.ct-series > .ct-point{
    stroke-width:19px;
}

.ct-series-a > line,
.ct-series-a > path{
    stroke:var(--first-graph-color) !important;

}

.ct-series-b > line,
.ct-series-b > path{
    stroke:var(--second-graph-color) !important;
}
.ct-series-c >line,
.ct-series-c >path{
    stroke:var(--third-graph-color) !important;
}

.ct-series-d >line,
.ct-series-d >path{
    stroke:var(--fourth-graph-color) !important;
}

.ct-label {
    font-size:20px;
    height:30px !important;
    color:black;
    width: 80px !important;
}

.graphMap {
    height:40px;
    position:absolute;
    width:666px;
    transform: matrix(1,0,0,1,48,58);
}

.graphKey:nth-child(1) > i{
    color:var(--first-graph-color);
}
.graphKey:nth-child(2) > i{
    color:var(--second-graph-color);
}
.graphKey:nth-child(3) > i{
    color:var(--third-graph-color);
}
.graphKey:nth-child(4) > i{
    color:var(--fourth-graph-color);
}

.graphKey:nth-child(even){
    float:right;
}

.graphKey > i{
    font-size:20px;
    line-height:40px;
    margin-right:5px;
}


.graphKey{
    font-size:20px;
    line-height:40px;
    height:40px;
    width:300px;
    display:inline-block;
}



.ct-tooltip {
    position: absolute;
    border:1px solid black;
    transform:matrix(1,0,0,20,-1000);
    display: inline-block;
    min-width: 5em;
    font-size:20px;
    padding: 8px 10px;
    border-radius:20px;
    color: white;
    background: var(--first-graph-color);
    text-align: center;
    pointer-events: none;
    z-index: 100;
    transition: opacity .2s linear;
}


.ct-custom-label{
    color:white;
    background:black !important;
    border:1px solid black;
    font-size:20px;
    font-weight:bold;

}

/*.ct-tooltip.hide {*/
    /*display: none;*/
    /*opacity: 0;*/
    /*visibility: hidden;*/
/*}*/