.DataSourcePicker{
    vertical-align: top;
    padding:2%;
    position: relative;
    margin-left: 1%;
    height: 100px;
    width: 130px;
    display: inline-block;
      background-repeat: no-repeat;
    border-radius: 15%;
    border:2px solid black;
    cursor: pointer;
}