.timeRangeOption{
    height:35px;
    font-size:10pt;
    background:white;
    border-radius:9px;
    line-height:35px;
    display:inline-block;
    width:91%;
    overflow:hidden;
    border:1px solid #D9D9D7;
    margin-top:5px;
    padding-left:5px;
    position:relative;
    cursor:pointer;
}

.timeRangeOption.active{
    background:#f9f9f9;
}

#timeRangeWrapper{
    margin-top:25px;
}

.customDateContainer{
    width:91%;
    height:70px;

}

.customDateContainer.active >div{
    color:black;
}

.customDateContainer.active >div >div{
     border:1px solid #D9D9D7;

}

.customDateContainer > div{
    color:#D9D9D7;
    display:inline-block;
    font-size:10pt;
    width:50%;
    height:100%;

}

.customDateContainer > div > div{
    width:80%;
    height:35px;
    font-size:10pt;
     background:white;
    border-radius:9px;
       border:1px dashed #D9D9D7;
    line-height:35px;
}