@keyframes zoomUp{
    from {transform: matrix(2,0,0,2,0,0);}
    to {transform: matrix(1,0,0,1,0,0);}
}

@keyframes opacityUp{
    from {opacity:0;}
    to{opacity:1;}
}

#DefaultReportModal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    height:100%;
    width:100%;
    transform:matrix(1,0,0,1,0,0);

}

#DefaultReportModal > .backgroundContainer {
    animation-name:opacityUp;
    animation-duration:.6s;
    position:absolute;
    height:100%;
    width:100%;
    opacity:1;
    background-color: rgba(124, 94, 236, .92);


}

.DefaultReportWrapper {
    margin: 10% auto;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    height: 56%;
    width: 58%;
    position: relative;
}

.DefaultReportWrapper > .sk-chasing-dots {
    color: white;
    height: 300px;
    width: 300px;
    position: relative;
    left: 170px;
}

#connectFacebookWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#connectFacebookWrapper > .instructions {
    height: 40px;
    text-align: center;
    color: white;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);

}

.connectFBbutton{
    cursor:pointer;
    transition: all .2s;
    position:relative;
    height:50px;
    width:270px;
    border-radius:5px;
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.55);
    background:white;
    margin: 30px auto;
    color:#3563c1;
    padding-left:20px;
}

.connectFBbutton > .fa-facebook{
        height: 50px;
    line-height: 50px;
    font-size: 26px;
    text-align:center;
    width: 30px;
    vertical-align: top;
}

.connectFBbutton > span{
    height:50px;
    display:inline-block;
    width:calc(100% - 30px);
    line-height:50px;
    font-weight:500;
    font-size:18px;
}

.connectFBbutton:hover{
    background:black;
    color:white;


}

#createDefaultReportWrapper{
     position: relative;
    height: 100%;
    width: 100%;
    padding-left:7%;

}

#createDefaultReportWrapper > .instructions{

    font-size:24px;
    margin-bottom:30px;
    color:white;
}

#createDefaultReportWrapper > .instructions:first-child{
    font-size:29px;
    font-weight:bold;
    margin-bottom:15px;
}

#createDefaultReportWrapper > .Select {
    -webkit-animation-name: opacityUp;
    animation-name: opacityUp;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    width: 40%;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#createDefaultReportWrapper > .Select > .Select-control,
#createDefaultReportWrapper > .Select > .Select-input{
    height:50px !important;
}

#createDefaultReportWrapper > .Select > .Select-control > span > .Select-placeholder{
    font-size:18px;
    font-weight:bold;
    line-height:50px;
}

#createDefaultReportWrapper > .Select > .Select-control > span > .Select-input{
    height:50px !important;
    line-height:50px;
    font-size:16px;
}

#createDefaultReportWrapper > .Select > .Select-control > span > .Select-value > .Select-value-label{
    display:inline-block;
    height:100%;
    line-height:50px;
    font-size:20px;
    font-weight:bold;
}

#createDefaultReportWrapper > .btn{
    animation-name:opacityUp;
    animation-duration:.4s;
    transition: all .3s;
    vertical-align:top;
    background:black;
    color:white;
    height:52px;
    border:none;
    font-size:17px;
    font-weight:bold;
     box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.55);
    width: calc(30% - 40px)
}

#createDefaultReportWrapper > .btn:hover {
background:white;
    color:black;
}

#createDefaultReportWrapper > .sk-chasing-dots{
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;

}