.GraphEditor{
    margin-top:15px;
    margin-bottom:30px;
    vertical-align: top;
    width:100%;
    height:70vh;
    border-radius:10px;

    border:3px solid #6D50E4;
    display: inline-block;
    overflow: hidden;
}

.dropZone{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    height: 200px;
    cursor:pointer;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    margin-bottom:20px;

}

.dropZone.Active{
    border-color:#6D50E4;
}

#uploadedFileTitle{
        height: 100%;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height:200px;
}

