.GraphViewer{
    margin-top:15px;
    vertical-align: top;
      width:35%;
    height:70vh;
    border-radius:10px;
    border:3px solid #6D50E4;
    float:right;
    display: inline-block;
    overflow: hidden;
}

.GraphViewer> .sourceTitle{
    height: 60px;
    background:#6D50E4;
    color: white;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}

#graph-viewer-menu{
    background: none;
    border-top: none;
    border-right: none;
    border-left:none;

    width:100%;
    min-height:0px;
    height:25px;
}

#graph-viewer-menu > *,
#graph-viewer-menu > * > *
{
    height:100%;
    width:100%;
}

#graph-viewer-menu > * > * >li{
    width:70px;
}

#graph-viewer-menu > * > * >li > a{
    display:inline-block;
    height:100%;
    width:100%;
    text-align:center;
    padding:0;
}

#graph-viewer-menu > * > * >li.chosen > a{
    border-bottom: 2px solid #6D50E4;
}