#icons-wrapper{

}

#icons-wrapper > .icon-wrapper{
    height:120px;
    width:50%;
    padding:10px;
    vertical-align:top;
    cursor:pointer;
    display:inline-block;
}
#icons-wrapper .icon-selected,
#icons-wrapper > .icon-wrapper:hover{
    border:1px dashed black;
}

#icons-wrapper > .icon-wrapper > .icon-option{
    background-size:100% 100%;
    height:100%;
    width:100%;
}