#VoiceSubmenu{
    background: #f7faff;
    width: 100%;
    bottom: 0;
    position: absolute;
    max-height:278px;
    min-height:33px;
    left: 0px;
}

#VoiceHeader{
    font-size:16px;
    line-height:33px;
    height:33px;
}



#VoiceHeader > .fa-microphone{
    margin-left:7px;
    font-size:26px;
    line-height: 33px;
}

@keyframes color_change {
    from { color: black; }
	to { color: #6d50e4; }
}

#VoiceHeader > .fa-microphone.animate{
    animation: color_change .5s infinite alternate;
}


#VoiceHeader > .fa-play-circle{
    float:right;
    font-size:30px;
    margin-right:5px;
}

#VoiceContent,
#VoiceHeader{
    padding-left:5px;
    padding-right:5px;

}

#VoiceHeader > .fa-commenting-o,
#VoiceHeader > .fa-globe {
    float: right;
    height: 25px;
    margin-top: 4px;
    margin-left: 3px;
    text-align: center;
    color:#848890;
    line-height: 25px;
    background: #e9ecf1;
    font-size: 15px;
    cursor:pointer;
    width: 25px;
    border-radius: 100%;
}

#VoiceHeader > .fa-commenting-o:hover,
#VoiceHeader > .fa-globe:hover {
    color:white;
    background:#848890;
}
#VoiceHeader >  .fa-commenting-o:hover > #VoiceSelector,
#VoiceHeader >  .fa-globe:hover > #LanguageSelector {
    display:inline-block;

}

#VoiceSelector,
#LanguageSelector{
    display:none;
}


.voice-apply-btn {
    float:right;
    height:39px;
    width:116px;
}

#PlayVoiceover{
    cursor:pointer;
    bottom: 4px;
    display:inline-block;
    margin-bottom:5px;
    margin-top:5px;
    margin-right:5px;
    height:39px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    width:39px;
    background:#fefefe;
    border-radius: 100%;
}

@keyframes changeColor{
    from{
    background-color: rgba(109,80,228,.2);
  }

  to{
    background-color: rgba(109,80,228,.6);
  }


}

#PlayVoiceover.loading{
    animation: changeColor ease alternate;
    background-color: green;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;

}

#PlayVoiceover > .fa{
    text-align: center;
    font-size:16px;
    height:100%;
    line-height:39px;
    color:#0b0b0b;
    vertical-align: top;
    width:100%;
}

#PlayVoiceover:hover > .fa {
    transition: color .2s;
    color:#6d50e4;

}

#PlayVoiceover:hover{
    transition: box-shadow .2s;
    box-shadow: 0px 0px 4px 0px rgba(109,80,228,0.75);

}


#VoiceoverInput{
    height:120px;
    resize:none;
    width:100%;
    background:white;
    overflow:hidden;

    outline:1px solid #e9e9eb;
}

#VoiceHeader > .fa-angle-down,
#VoiceHeader > .fa-angle-up{
    font-size:17px;
    cursor:pointer;
}