.ReactFontPicker_Wrapper{
    height:30px !important;
    background:white;
    margin-bottom:6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left:5%;
}


.ReactFontPicker_SelectedOption {
    position: absolute;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 15px;
}

.ReactFontPicker_Button {
    border-color: #999 transparent transparent !important;
}

.text-optn{
    outline:none !important;
     -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    padding: 7px 16px;
    line-height: 1.7;
    background: white;
    border: 1px solid darkgrey;

}

.text-optn.active{
        background: #d9dfe9;
    border-color: #d9dfe9
}

.fontColor.active{
    border:1px solid #01f0d0 !important;
}

.fontColor.customColor{
    color:#01f0d0;
    font-size:21px;
    line-height:30px;
    text-align:center;
}

.change-data-btn{
    width:100%;
    background:#6c50e4;
    color:white;
    font-size:large;
     box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
}