.dataSpinner {
    top: 45%;
    left: 45%;
    z-index: 10;
    position: absolute !important;
    width: 50px !important;
    height: 50px !important;
}
.widgetDecorator,
.widgetImage,
.widgetGraph
 {
    position:absolute;
    overflow: hidden;
}

.widgetLabel{
    position:absolute;
    overflow: visible;
}
.noDrag,
.noDrag > .react-draggable {
    cursor: default !important;
}
.widgetDecorator {
    outline: none;
    border: none;
}
input.widgetDecorator {
    background:none;
}
.imageSelected,
.widgetImage:hover,
.widgetLabel:hover {
    position: absolute;
    outline: 3px dashed purple;
    cursor: pointer;
}

.widgetLabel >textarea {
    background:none;
    resize: none;
     white-space: nowrap;
    outline:none;
    border:none;
    overflow:hidden;
    height:125%;
    width:100%;
}
.simpleWidget {
    transition: background .3s;
    cursor:pointer;
}

.labelOptionsMenu {
    height:30px;
    width:30px;
    cursor:pointer;
    top:0;
    background:gray;
    left:0;
    position:absolute;
    overflow:hidden;
}


