#DataLoader{
    height:30px;
}

#DataLoader >span{
    display:inline-block;
}

#DataLoader > .sk-chasing-dots{
    display:inline-block;
    margin-left:120px;
}

.DataSelector{
    height:39px;
    width: 214px;
}

.facebook-selector > .title{
    color:#cccccc;
}