.autoBtn {
    font-size: 12pt;
    padding-top: 3px;
    width: 220px;
    height: 35px;
    color: white;
    background-color: #6D4EE9;
    border-color: #6D4EE9;
}
.autoBtn .fa {
    margin-top: .3em;
}
#AutomateModal > .modal-dialog {
    width: 100%;
    max-width: 870px;
    height: 100%;
    max-height: 800px;
}
#AutomateModal > .modal-dialog > .modal-content {
    height: 100%;
    width: 100%;
    padding: 30px 40px 30px 40px;
}
#AutomateModal > .modal-dialog > .modal-content > .modal-body {
    height: 95%;
    max-height: 800px;
    width: 100%;
    max-width: 870px;
    background: white;
    padding: 0;
}