#exportHtmlWrapper{
    width:490px;

}

.checkboxContainer{
    height:20px;
    width:100%;

}

.checkboxContainer > span{
   position:relative;
    left:10px;
    font-size:16px;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}

#linkContainer{
    animation-name:fadein;
    animation-duration:.5s;
    width:100%;
    margin-top:20px;
}


#linkContainer > .instructions{
    width:100%;
    height:35px;
    font-size:16px;

}

#linkContainer > #linkBox{
    width:60%;
    display:inline-block;
    overflow:hidden;
    outline:none;
    padding-left:5px;
    height:34px;
    line-height:34px;
    font-size: 16px;
    color:#2e73ff;
    border-radius:6px;
    background:white;
    border:1px solid darkgray;
     margin-bottom:25px;
}

#exportHtmlWrapper .btn
 {
    vertical-align:top;

    margin-left:5%;
    background:white;
    height:35px;
    border-radius:5px;
     border:2px solid black;
    color:black;
    font-weight:600;
}


#exportHtmlWrapper .btn:hover {
background:black;
    color:white;
}

#passwordProtection{
     animation-name:fadein;
    animation-duration:.5s;
    height:60px;
    padding-top:10px;
    width:100%;
}

#passwordProtection > input[type='text']{
    display:inline-block;
     width:60%;
    overflow:hidden;
    outline:none;
    padding-left:5px;
    height:34px;
    line-height:34px;
    font-size: 16px;
    color:#2e73ff;
    border-radius:6px;
    background:white;
    border:1px solid darkgray;
     margin-bottom:25px;
}

