#PublishPreviewWrapper> iframe {
    height: 486px;
    width: 864px;
}

#PublishPreviewWrapper>.title{
    font-size:18px;
    margin-bottom:6px;
}

#exportMp4 video{
    border: 1px solid rgba(46, 115, 255, 255);
}

#publishProgressBar{
    margin-top:10px;
    width:590px;
}

#publishProgressBar > .progress{
    height:10px;
    width:90%;
    margin-top:5px;
    display:inline-block;
}

#publishProgressBar > .progress > .progress-bar {
background-color:rgba(46, 115, 255, 255);
}

#publishProgressBar > .title{
    font-size:18px;
}

#publishProgressBar > .progressTitle{
    width: 8%;
    padding-left:2%;
    display:inline-block;
    font-size:14px;
    vertical-align:top;
    color: rgba(46, 115, 255, 255);
}

#dummyTextArea{
    position:absolute;
    height:1px;
    width:1px;
    top:-1px;
}

#downloadMp4Wrapper{
    margin-top:10px;
}

#downloadMp4Wrapper > .title{
    font-size:17px;
    color:rgba(46, 115, 255, 255);
    margin-bottom:5px;

}

#downloadMp4Wrapper > .btn{
    color:black;
    background:white;
    font-weight:600;
    border-color:black;

}

#downloadMp4Wrapper > .btn:hover{
    color:white;
    background:black;
}

