#ExportEmailWrapper {
    width: 50vw;
}


#emailTemplate {
    height: 680px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
}

#emailTemplate input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

#emailTemplate > .top-bar {
    height: 32px;
    border-bottom: 2px solid #e9e9e9;
    background: #fbfbfb;
}

#emailTemplate > .top-bar > div {
    margin-top: 9px;
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: #b3b3b2;
    margin-left: 3px;
}

#emailTemplate > .top-bar > div:first-child {
    margin-left: 15px;
}

#emailTemplate > .bot-bar {
    height: 43px;
    background: #f4f4f4;
}

#emailTemplate > .bot-bar > div {
    font-family: ﻿OpenSans-SemiBold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    color: rgb(31, 37, 40);
    display: inline-block;
    height: 43px;
    line-height: 43px;
    font-weight: bold;

}

#emailTemplate > .bot-bar > input {
    width: 170px;
    float: right;
    margin-top: 8px;
    margin-right: 14px;
    padding-left: 8px;
    display: inline-block;
    background: white;
    border: 1px solid #b4b4b2;
    height: 26px;
    border-radius: 5px;
}

#emailTemplate > .bot-bar > input:nth-child(1) {
    background:transparent;
    border:none;
    padding-left: 20px;
    float:left;
    width: 30%;
    text-align: left;
    font-size: 22px;

}

#emailTemplate > .bot-bar > div:nth-child(3) {
    float: right;
    font-size: 16px;
    margin-right: 10px;
}

#emailTemplate > .top-footer{
    height:100px;
}

#emailTemplate > .top-footer:hover > #topFooterPicker{
    display:inline-block;
}


#topFooterPicker{
    position:absolute;
    margin-top:28px;
    margin-left:20px;
    display:none;

}

#emailTemplate > .top-footer > .logo{
    height:80px;
    width:100px;
    background-repeat: no-repeat;
    background-size:contain;
    position:relative;
    top:20px;
    left:calc(50% - 50px);
}

#emailTemplate > .top-footer > input[type=file]{
    cursor:pointer;
    height:80px;
    width:100px;
    background:red;
    position:relative;
    top:-60px;
    left:calc(50% - 50px);
    opacity:0;
}


#emailTemplate > .bottom-footer{
       position: relative;
    width: 100%;
    height: 60px;
    top: 71px;
}

#emailTemplate > .bottom-footer:hover > #bottomFooterPicker{
    visibility: visible;
}

#bottomFooterPicker{
    position:absolute;
    margin-top:8px;
    margin-left:20px;
    visibility: hidden;
}

#emailTemplate > .body > input:nth-child(1){
    font-size:20px;
    height:60px;
    text-align:center
}

#emailTemplate > .body > input:nth-child(2){
    font-size:16px;
    height:40px;
    text-align:center
}

#emailTemplate > .body > .video-preview{
    position:relative;
    left:calc(50% - 245px);
    height: 270px;
     width: 490px;
    cursor:pointer;

}

#sendEmailSection {
    margin: auto;
    margin-top: 10px;
    height:40px;
    width:660px;
    margin-left:calc(50% - 330px);
    display: inline-block;

}

#sendEmailSection > div:first-child {
    display:inline-block;
    height:100%;
    width:150px;
    line-height:40px;
    font-family: ﻿OpenSans-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 15pt;
    color: rgba(53, 53, 53, 255);
}

#sendEmailSection > input{
    font-family: ﻿OpenSans-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(45, 115, 255, 255);
    display:inline-block;
    outline:none;
    padding-left:8px;
    border-radius:5px;
    vertical-align:top;
    width:350px;
    height:39px;
    border:1px solid #b4b4b2;
    background:white;
}

#sendEmailSection > .pb-container{
    margin-left:15px;
    vertical-align: top;
    height:39px;
    padding:0;
    line-height:40px;
    text-align:center;
    color: rgba(45, 115, 255, 255);
    width:140px;

}

#sendEmailSection > .pb-container > button{
    transition: .3s all;
    border-radius:5px;
    height:100%;
}

#sendEmailSection > .pb-container.loading > .pb-button {
    border-color:transparent;

}

#sendEmailSection > .pb-container > button > span > .button-message{
    position: relative;
    top: -10px;
    font-size: 30px;

}

#sendEmailSection > .btn:hover{
    border-color: rgba(45, 115, 255, 255);
    background:white;
}