.on-hoover-picker{
    height:45px !important;
    width:45px !important;
    border-radius:100%;
    background:white;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.on-hoover-picker > .fa {
    height:45px;
    width:45px;
    position:absolute;
    font-size:24px;
    cursor:pointer;
    text-align:center;
    line-height:45px;
}

.on-hoover-picker > .circle-picker{

    transform:translate(30px,40px);


}


