#publishWrapper {
    padding-left: 30px;
    padding-top: 30px;
    height:100vh;
}

#publishTitle {
    width:860px;
    color: rgba(40, 40, 40, 255);
}

#publishTitle  h2,h5 {
    display:inline-block;
    margin-top:0;
    font-family: OpenSans-Semibold, AdobeInvisFont, MyriadPro-Regular;
    width:80%;
    color: rgba(40, 40, 40, 255);
}

#publishTitle h5{
    color:rgba(129, 129, 129, 255);
}

#publishTitle > .btn >.fa{
    margin-right:10px;
    font-size:16px;
}

#publishTitle > .btn{
    display:inline-block;
    float:right;
    width: 120px;
    line-height:38px;
    padding-top:0;
    padding-bottom:0;
  height: 38px;
  border-radius: 4px;
  background-color: #282828;
    color:white;
    text-align:left;
    padding-left:5%;
}

#publishExportMenu {
    margin-top:20px;
    padding: 2px;
    margin-bottom:22px;
}

#publishExportMenu > div {
    display: inline-block;
    margin-left: 35px;
    font-family: OpenSans-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 12pt;
    cursor: pointer;
    color: rgba(129, 129, 129, 255);
}

#publishExportMenu > .active {
    color: rgba(46, 115, 255, 255);
    border-bottom: 1px solid rgba(46, 115, 255, 255);
}

#publishExportMenu > .disabled{
      color: rgb(220, 220, 220);
}

#publishExportMenu > div:first-child {
    margin-left: 0 !important;
}

#menuWrapper{
    width:490px;
}

#publishWrapper > .publishSubmenu{
    width:100%;
}


#toastMessage {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #6c50e4; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    font-size:20px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}


#toastMessage.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}



@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}