#SlackExportWrapper{
    width:50%;
    height:120px;
    border-radius:14px;
    padding-top:20px;
    border: 2px solid #eaeaea;
    padding-left:4%;
    padding-right:4%;
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.75);

    background:#f4f4f4;

}

#SlackExportWrapper > .title{
    font-size:18px;
    margin-bottom:5px;
}

#SlackExportWrapper > textarea{
    width:100%;
    height:200px;
    border-radius:6px;
    resize:none;
    border:2px solid black;
    font-size:20px;
    outline:none;

}

#SlackExportWrapper > .slack-channel-selector{
    width:50%;
    display:inline-block;
    height:100%;
}

#SlackExportWrapper > .btn{
    vertical-align: top;
    float:right;
    padding:0;
    line-height:30px;
    width:120px;
    background:black;
    color:white;
    outline:none;
    border:none;
    height:30px;
}

#SlackExportWrapper > .btn:hover{
    background:darkgrey;
}

#SlackExportWrapper > .pb-container{
    margin-left:15px;
    float:right;
    vertical-align: top;
    height:30px;
    padding:0;
    line-height:40px;
    text-align:center;
    color: rgba(45, 115, 255, 255);
    width:140px;

}

#SlackExportWrapper > .pb-container > button{
    transition: .3s all;
    border-radius:5px;
    height:100%;
}

#SlackExportWrapper > .pb-container.loading > .pb-button {
    border-color:transparent;

}

#SlackExportWrapper > .pb-container > button > span > .button-message{
    position: relative;
    top: -15px;
    font-size: 23px;

}