#top-menu {
    margin-left: 220px;
    height: 65px;
    background-color: #6D50E4;
    border-color: #6D50E4;
    border-radius: 0;
    z-index:2;
    margin-bottom: 0;
}
@media (max-width: 768px) {
    #top-menu .navbar-inverse,
    #top-menu .navbar-collapse {
        background-color: #6D50E4;
        border-color: #6D50E4;
        max-width: 225px;
        top: 50px;
        position: absolute;
        left: 0;
        z-index: 1;
    }
}
#top-menu .navbar-brand {
    height: 100%;
}
#top-menu .container,
#top-menu .navbar-nav {
    margin-left: 20px;
    height: 100%;
}
#top-menu .navbar-nav a {
    color: #AB95FA;
    height: 100%;
    font-size: 16px;
    padding-top: 20px;
}
#top-menu > div > div > ul > li:nth-child(3) > a,
#top-menu .navbar-nav a:active,
#top-menu .navbar-nav a:focus,
#top-menu .navbar-nav a:hover {
    color: #ffffff;
}
#top-menu .nav-title {
    margin-left: 10px;
    top: -1px;
    position: relative;
}