.FloatingSelectorWrapper{
    width:173px;
    max-height:169px;
    position:relative;
    left:-20px;
    top:-20px;
    background:white;

    color:black !important;
    overflow:auto;
    float:right;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.FloatingSelectorWrapper > .FloatingOption{
    text-align:left;
    font-size:12pt;
    padding:3px;
    width:100%;
}

.FloatingSelectorWrapper > .FloatingOption.active{
    background:#e9ecf1;
}

.FloatingSelectorWrapper > .FloatingOption:hover{
    background:#e9ecf1;
    color:black;
}

.FloatingSelectorWrapper > .FloatingOption.active > .fa-check{
    font-size:14px;
    right:5px;
    top:6px;
    color:#999da5;
    float:right;
    position:relative;
}