.save-options-container {
    position: absolute;
    height: 75px;
    width: 250px;

}

.save-options-container > .save-options {
    background: white;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    border: 2px solid #f4f3f3;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;

}

.save-options:before{
     content: '';
  display: block;

  width: 0;
  height: 0;
  position: absolute;
    border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid white;
  right: 10px;
  top: -7px;
}

.save-options > .btn {
    float: right;
    height: 100%;
    width: 20%;
    border-radius: 7px;
    line-height:30px;
    border: 2px solid #f4f3f3;
    text-align: center;
    padding: 0;
    margin-left: 5%;
}

.save-options > .btn:hover {
    color: white;
    background: black;

}

.save-options > input[type='text'] {
    height: 100%;
    width: 75%;
    color:black;
    outline:none;
    padding-left:5px;
    border-radius: 7px;
    border: 2px solid #f4f3f3;
}