#PreviewModal > .modal-dialog{
    height: calc(225px + (1156px * var(--video-zoom)));
    width: calc((1920px * var(--video-zoom)) + 400px);
}
#PreviewModal > .modal-dialog > .modal-content{
    height: 100%;
    width: 100%;
}
#PreviewModal > .modal-dialog > .modal-content > .modal-body{
    height: calc((1080px * var(--video-zoom)) + 225px);
    width: calc((1920px * var(--video-zoom)) + 400px);
    background: white;
    padding: 0;
}