#topMenu {
    border-bottom: 1px solid #dfe4ed;
    background-color: #F6F7F9;
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index:2;
    width: calc(100% - 155px);
    position: relative;
}
#topMenu .previewWrapper {
    min-width: 58px;
    width: 9.5%;
    height: 65px;
    text-align: center;
    cursor: pointer;
    border-right: 3px solid #DFDFDF;
}
#topMenu .previewWrapper > img {
    width: 45px;
    display: block;
    margin: 0 auto;
}
#topMenu .contentWrapper {
    width: 930px;
    height: 55px;
}
#topMenu .verticalLine {
    height: 50px;
    margin-top: 5px;
    border-right: 1px solid #DFDFDF;
}
#topMenu .addWidgetButtonWrapper {
    min-width: 112px;
    float: left;
    height: 50px;
    text-align: center;
    border-right: 1px solid #DFDFDF;
}
#topMenu .addWidgetButtonWrapper:last-child {
    border-right: none;
}
#topMenu .addWidgetButtonWrapper .titleContainer {
    font-family: "Open Sans";
    font-size: 13px;
    color: #282828;
    width: 100%;
    text-align: center;
    font-weight: 400;
}
#topMenu .widgetBtn {
    height: 34px;
    width: 52px;
    border-radius: 0;
    outline: none;
    border: none;
    background-color: #F3F3F3;
}
#topMenu .btn-next {
    color: white;
    border-color: #001A32;
    background-color: #001A32;
    margin-top: 1px;
    height: 36px;
    font-size: 15px;
}
#topMenu .scrollBtn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    outline: none;
    border: none;
    display: none;
    background-color: #F3F3F3;
}
#topMenu .widgetBtnsWrapper .scrollBtn:last-child {
    margin-left: 0;
}
#topMenu .widgetBtnsWrapper {
    padding-top: 10px;
    height: 68px;
    max-width: 68%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #FDFDFF;
    margin-left: 15px;
    float: left;
}
#topMenu .widgetBtns {
    display: inline-flex;
    float: left;
    margin-left: 10px;
    padding-top: 0;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 110px;
}
#topMenu .btn-toolbar .dropdown-toggle {
    color: black;
}
#topMenu .btn-toolbar {
    margin-top: 10px;
    margin-right: 10px;
}
#topMenu .btn-toolbar .btn {
    margin-left: 10px;
}
#topMenu .btnToolBar {
    background-color: #EAEAEA;
}
/* Scroll bar style */
#topMenu ::-webkit-scrollbar-button {
    display: none;
}
#topMenu ::-webkit-scrollbar-track {
	background-color: white;

}
#topMenu ::-webkit-scrollbar {

	background-color: #F5F5F5;
}
#topMenu ::-webkit-scrollbar-thumb {
	background-color: #DCDCDC;

}
/*Save button style*/
#topMenu #SaveButton > .save-options-container{
      right: 214px;
        top: 50px;
    visibility:hidden;
}

#topMenu #SaveButton:hover > .save-options-container{
    visibility:visible;
}
#topMenu #SaveButton:hover{
    background:#6d50e4;
}
#topMenu #SaveButton:hover > img{
    filter:invert(1)
}

#topMenu #PublishReportButton > .save-options-container{
    display:none;
    right:10px;
    top:50px;
}

#topMenu #PublishReportButton:hover > .save-options-container{
    display:block;
}


@media screen and (max-width: 1895px) {
    #topMenu .scrollBtn {
        display: block;
    }
    #topMenu .widgetBtns {
        width: calc(100% - 90px);
    }
}
@media screen and (max-width: 1675px) {
    #topMenu .widgetBtnsWrapper {
        max-width: 60%;
    }
}
@media screen and (max-width: 1350px) {
    #topMenu .widgetBtnsWrapper {
        max-width: 50%;
    }
}
@media screen and (max-width: 1100px) {
    #topMenu .widgetBtnsWrapper {
        max-width: 40%;
    }
}
@media screen and (max-width: 990px) {
    #topMenu .widgetBtnsWrapper {
        max-width: 38%;
    }
    #topMenu .btn-toolbar {
        width: 197px;
    }
    #topMenu .btn-next {
        width: 87px;
    }
    #topMenu .btn-toolbar .btn {
        margin-left: 0;
    }
}