body{
    background:white !important;
}
.Select-input,
.Select-control{
	height:30px !important;
}
.autoFit {
    opacity: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-top-35 {
    margin-top: 35px !important;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-5 {
    margin-left: 10px;
}
.margin-left-85 {
    margin-left: 85px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-40 {
    margin-top: 40px;
}
.apply-btn {
    background:#2784fb;
    color:white;
    border:1px solid #2784fb;
    margin-top:5px;
}
.btn-next {
    font-size: 18px;
    padding-top: 2px;
    width: 135px;
    height: 35px;
}
.next-arrow {
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}