
body{
    background-color: #F0F0F0 ;
}

.DataSourcePicker > .data-source-image{
    margin:auto;
    width:60px;
    height:60px;

}

.DataSource{
    vertical-align: top;
    padding:2%;
    position: relative;
    margin-left: 1%;
    height: 270px;
    width: 260px;
    display: inline-block;
    background: white;
    border-radius: 15%;
}

.DataSource > .data-source-image{
    margin:auto;
    width:150px;
    height:120px;
    background-repeat: no-repeat;

}

.DataSource > .buttonHolder{
    top: 35px;
    width: 90px;
    margin: auto;
    position: relative;

}

.buttonHolder > *{
    width:100%;
}
