#DraftsWrapper {
    padding-left: 30px;
    padding-top: 30px;
    background:white;
    height:100vh;
}

#draftsTitle {
    margin-bottom:15px;
    font-family: OpenSans-Semibold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(40, 40, 40, 255);
}

