#Builder{
    height:calc(100vh - 170px);
    padding-top:30px;
    scroll-behavior:smooth;
    overflow: auto;

}

.frames-wrapper.main-report{

}

.grid-wrapper{
    transition:1s all;
    background: transparent;

}

.grid-wrapper.active{
     background: rgba(176, 66, 255, 0.2);
        outline: 4px dashed black;
    outline-offset: 4px;
}

.delete-widget-button {
    z-index:20;
    background:red;
    display: none;
    position:absolute;
    right:10px;
    top:10px;
    height: 50px;
    width: 50px;
    color: black;
    padding: 0;
    font-size: 30px;
    border-radius:100%;
}

@keyframes opacityUp {
    from{opacity:0}
    to{opacity:1}
}
.grid-wrapper:hover> .delete-widget-button {
    display:inline-block;
    background:white;
    animation-name:opacityUp;
    animation-duration: .3s;

}

.react-grid-item.react-grid-placeholder{
    background:black !important;
}