.decDoubleMetric {
    height: 270px;
    position:absolute;
    width: 960px;
    background-image: url('//video-reports.topvid.com/static/images/widgetImages/double_metric_bg%20_new.png');
    background-repeat:no-repeat;
    background-size:945px 150px;
    background-position-y: 100px;
    background-position-x:0px;

}

.decSingleMetric{
    height: 270px;
    position:absolute;
    width: 480px;
    background-image: url('//video-reports.topvid.com/static/images/widgetImages/single_metric_bg_new.png');
    background-repeat:no-repeat;
    background-size:480px 170px;
    background-position-y: 60px;
    background-position-x:0px;

}
.decMetricNotebook {
    height: 540px;
    z-index: 1;
    position:absolute;
    width: 960px;
     background-repeat:no-repeat;
        background: url(//video-reports.topvid.com/static/images/widgetImages/notebook.png);
    background-repeat: no-repeat;
    background-size: 720px 481px;
    background-position-y: 83px;
    background-position-x: 60px;
}
.decAdBoxImage {
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 571px;
    transform : matrix(1, 0, 0, 1, 117, 94);
    width: 471px;
    z-index: 3;
}
.decAdBoxWrapper {
    position: absolute;
    height: 628px;
    z-index: 1;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    transform: matrix(1,0,0,1,95,65);
    width: 739px;
    background: white;
}

.decAdBoxRightTape {
    position: absolute;
    z-index: 10;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 746, 70) rotate(47deg);
    width: 230px;
    background: rgba(217,217,217,.8)
}
.decAdBoxLeftTape {
    position: absolute;
    z-index: 10;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 28, 688) rotate(47deg);
    width: 200px;
    background: rgba(217,217,217,.8)
}
.decAdBoxLeftGrayBackground {
    position: absolute;
    height: 689px;
    z-index: 2;
    transform: matrix(1,0,0,1,95,65);
    width: 561px;
    background: #e9ebee;
}
.decChartWrapper {
    position: absolute;
    height: 470px;
    transform: matrix(1,0,0,1,80,45);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    width: 750px;
    background: white;
}
.decChartRightTape {
    position: absolute;
    height: 60px;
    transform: matrix(1, 0, 0, 1, 684, 29) rotate(47deg);
    width: 230px;
    background: rgba(217,217,217,.8)
}
.decChartLeftTape {
    position: absolute;
    height: 60px;
    transform: matrix(1, 0, 0, 1, -2, 449) rotate(47deg);
    width: 200px;
    background: rgba(217,217,217,.8)
}